.header {
    margin-top: .5rem;
    padding-left: 10px;
}
  
.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
  transition: 0.3s all linear;
}
  
.header ul li:hover {
  background-color: #444;
}

  
.header li a:hover {
  text-decoration: none;
  color:#00bc8c;  
}
  
.header h3 a {
  text-decoration: none;
  color: #83bdf3;
}
@media(max-width:550px) {
  .header h3 {
    font-size:1.5rem;
  }
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header ul {
    padding-left:0;
    justify-content: center;
  }
}  